* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(8, 61, 88, 0.986);
}

.button {
    width: 75px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
}

.textview {
    width: 305px;
    margin: 5px;
    font-size: 25px;
    color: white;
    padding: 5px;
    border: 5px solid grey;
    background-color: transparent;
    background-color: rgb(14, 135, 235);
}

.main {
    width: 335px;
    height: 340px;
    background-color: #efecec;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px solid rgba(29, 28, 28, 0.473);
}

.number {
    background-color: white;
    font-weight: bold;
}

.symble {
    background-color: white;
}

.number:hover {
    background-color: teal;
}

.symble:hover {
    background-color: tomato;
}